<a href="https://colab.research.google.com/github/xper100/Coursera/blob/main/%EB%B0%95%EC%A3%BC%EC%9C%A4_%EC%B5%9C%EC%A2%85(%EC%88%98%EC%A0%95)_(n112).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤.

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|

In [1]:
# Import csv file
import pandas as pd

url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
df = pd.read_csv(url, header = None)

headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']
df.head(3)

      0       1      2      3      4   ...    20     21      22     23     24
0   19/6  12,578  3,991  3,991  4,452  ...  9.37  31.43  803.22  2,351  13.77
1   19/9  13,222  3,825  3,825  4,503  ...  9.95  24.17  836.86  2,337  13.87
2  19/12  11,982  2,523  2,523  1,794  ...  9.96  23.04  850.82    873  12.42

[3 rows x 25 columns]

In [2]:
# Convert columns into headers
df.columns = headers
df.head(3)

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42

[3 rows x 25 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ë¶„ê¸°          5 non-null      object
 1   ë§¤ì¶œì•¡         5 non-null      object
 2   ì˜ì—…ì´ìµ        5 non-null      object
 3   ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  5 non-null      object
 4   ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ    5 non-null      object
 5   ë‹¹ê¸°ìˆœì´ìµ       5 non-null      object
 6   ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)   5 non-null      object
 7   ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)  5 non-null      int64
 8   ìì‚°ì´ê³„        5 non-null      object
 9   ë¶€ì±„ì´ê³„        5 non-null      object
 10  ìë³¸ì´ê³„        5 non-null      object
 11  ìë³¸ì´ê³„(ì§€ë°°)    5 non-null      object
 12  ìë³¸ì´ê³„(ë¹„ì§€ë°°)   2 non-null      float64
 13  ìë³¸ê¸ˆ         5 non-null      object
 14  ì˜ì—…í™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 15  íˆ¬ìí™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 16  ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 17  ì˜ì—…ì´ìµë¥        5 non-null      float64
 18  ìˆœì´ìµë¥         5 non-null      float64
 19  ROE(%)      5 non-null      float64
 20  ROA(%)      5 non-null      float64
 21  ë¶€ì±„ë¹„ìœ¨        5 non-null      float64
 22  ìë³¸ìœ ë³´ìœ¨       5 non-null      float64
 23  EPS(ì›)      5 non-null      object
 24  PER(ë°°)      5 non-null      float64
dtypes: float64(8), int64(1), object(16)
memory usage: 1.1+ KB

In [4]:
df['PER(ë°°)'].dtypes == 'object'

False

In [5]:
# Replace object with comma into integer
def toint(string):
  return int(string.replace(',',''))

ob_list = ['ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'EPS(ì›)']

for col in ob_list:
  df[col] = df[col].apply(toint)

In [6]:
# ì˜ì—…ì´ìµë¥ 2 = 100*(ì˜ì—…ì´ìµ/ë§¤ì¶œì•¡)
df['ì˜ì—…ì´ìµë¥ 2'] = round(100*df['ì˜ì—…ì´ìµ']/df['ë§¤ì¶œì•¡'], 3)
df.head()

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)  ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77  31.730
1   19/9  13222  3825        3825  ...  836.86    2337   13.87  28.929
2  19/12  11982  2523        2523  ...  850.82     873   12.42  21.057
3   20/3  11784  3150        3150  ...  823.16    2134    9.71  26.731
4   20/6  13188  3947        3947  ...  837.40    2135   10.46  29.929

[5 rows x 26 columns]

In [7]:
# Create a new dataframe
data = [['18ë…„', 101500, 137292497, 13935188445500, 62.0, 1500000000, 0], 
        ['19ë…„', 93800,	137292497,	12878036218600,	63.5, 1500000000, 0]]
df2_column = ['êµ¬ë¶„', 'ì¢…ê°€', 'ë°œí–‰ì£¼ì‹ìˆ˜', 'ì‹œê°€ì´ì•¡', 'ì‹œì¥ì ìœ ìœ¨', 'ì‹œì¥ê·œëª¨','PDR']
df2 = pd.DataFrame(data, columns = df2_column)


# Price to Dream Ratio (PDR) Reference: https://www.hankyung.com/finance/article/2020101493061
# PDR = ì‹œê°€ì´ì•¡/(ì‹œì¥ê·œëª¨(TAM)*ì‹œì¥ì ìœ ìœ¨)

df2['PDR'] = df2['ì‹œê°€ì´ì•¡']/(df2['ì‹œì¥ì ìœ ìœ¨']*df2['ì‹œì¥ê·œëª¨'])

In [8]:
df2.head()

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨        ì‹œì¥ê·œëª¨         PDR
0  18ë…„  101500  137292497  13935188445500   62.0  1500000000  149.840736
1  19ë…„   93800  137292497  12878036218600   63.5  1500000000  135.202480

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [9]:
import re
df['ë§¤ì¶œì•¡'][df['ë¶„ê¸°'] == "19/6"] = int(re.sub("\D", "","12,578"))
df['ë§¤ì¶œì•¡'] = df['ë§¤ì¶œì•¡'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [10]:
df.describe()

                ë§¤ì¶œì•¡         ì˜ì—…ì´ìµ  ...     PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
count      5.000000     5.000000  ...   5.000000   5.000000
mean   12550.800000  3487.200000  ...  12.046000  27.675200
std      664.979097   636.931079  ...   1.898112   4.116586
min    11784.000000  2523.000000  ...   9.710000  21.057000
25%    11982.000000  3150.000000  ...  10.460000  26.731000
50%    12578.000000  3825.000000  ...  12.420000  28.929000
75%    13188.000000  3947.000000  ...  13.770000  29.929000
max    13222.000000  3991.000000  ...  13.870000  31.730000

[8 rows x 25 columns]

In [11]:
# Check all missing values
df.isnull().sum()

ë¶„ê¸°            0
ë§¤ì¶œì•¡           0
ì˜ì—…ì´ìµ          0
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)    0
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ      0
ë‹¹ê¸°ìˆœì´ìµ         0
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)     0
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)    0
ìì‚°ì´ê³„          0
ë¶€ì±„ì´ê³„          0
ìë³¸ì´ê³„          0
ìë³¸ì´ê³„(ì§€ë°°)      0
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     3
ìë³¸ê¸ˆ           0
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„      0
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„      0
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„      0
ì˜ì—…ì´ìµë¥          0
ìˆœì´ìµë¥           0
ROE(%)        0
ROA(%)        0
ë¶€ì±„ë¹„ìœ¨          0
ìë³¸ìœ ë³´ìœ¨         0
EPS(ì›)        0
PER(ë°°)        0
ì˜ì—…ì´ìµë¥ 2        0
dtype: int64

In [12]:
# only 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)' has missing values
# Let's fill out missing values with 'ìë³¸ì´ê³„' = 'ìë³¸ì´ê³„(ì§€ë°°)' + 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)'

for i in range(df.shape[0]):
  if df['ìë³¸ì´ê³„(ë¹„ì§€ë°°)'].isnull()[i] == True:
    df['ìë³¸ì´ê³„(ë¹„ì§€ë°°)'].iloc[i] = df['ìë³¸ì´ê³„'].iloc[i] - df['ìë³¸ì´ê³„(ì§€ë°°)'].iloc[i] 
  
# TOI(total_ownership_intersest)
def TOI(df):
  df['ìë³¸ì´ê³„(ë¹„ì§€ë°°)'] = df['ìì‚°ì´ê³„'] - df['ìë³¸ì´ê³„(ì§€ë°°)']

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

## Grading

ì´ì „ ê³¼ì œë¥¼ ì™„ë£Œí–ˆë‹¤ë©´, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

In [13]:
def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2
  score += ((round(df['ì˜ì—…ì´ìµë¥ 2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3
  score += (df['ë§¤ì¶œì•¡'][0] == 12578) # 2
  score += ((df.dtypes == 'O').sum() == 1)
  return(score)

In [14]:
grade(df,df2)

5

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [15]:
import numpy as np

df['ë‹¹ê¸°ìˆœì´ìµ'][df['ë¶„ê¸°'] == "19/12"] = np.nan
df['ë‹¹ê¸°ìˆœì´ìµ'] = df['ë‹¹ê¸°ìˆœì´ìµ'].fillna(df['ë‹¹ê¸°ìˆœì´ìµ'].mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
df.head(10)

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)  ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77  31.730
1   19/9  13222  3825        3825  ...  836.86    2337   13.87  28.929
2  19/12  11982  2523        2523  ...  850.82     873   12.42  21.057
3   20/3  11784  3150        3150  ...  823.16    2134    9.71  26.731
4   20/6  13188  3947        3947  ...  837.40    2135   10.46  29.929

[5 rows x 26 columns]

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [17]:
def RP(df, ind):
  if ind < 4:
    stand_value = df['ë§¤ì¶œì•¡'][0:ind].mean()
    per_val = round((df['ë§¤ì¶œì•¡'][ind]/stand_value - 1)*100, 2)
  else:
    stand_value = df['ë§¤ì¶œì•¡'][ind-4:ind].mean()
    per_val = round((df['ë§¤ì¶œì•¡'][ind]/stand_value - 1)*100, 2)

  if per_val <= -10:
    Relative_Performance = "D"
  elif per_val < -5:
    Relative_Performance = "C"
  elif per_val < 5:
    Relative_Performance = "B"
  elif per_val < 10:
    Relative_Performance = "A"
  else:
    Relative_Performance = "S"   
  return Relative_Performance

RP(df, 4)

'A'

In [18]:
for i in range(5):
  print("The relative performance in {0} is {1}".format(df['ë¶„ê¸°'].iloc[i],RP(df, i)))

The relative performance in 19/6 is S
The relative performance in 19/9 is A
The relative performance in 19/12 is C
The relative performance in 20/3 is C
The relative performance in 20/6 is A

In [20]:
df['Relative Performance'] = 'NA'
for i in range(5):
  df['Relative Performance'].iloc[i] = RP(df,i)

df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...  EPS(ì›)  PER(ë°°)  ì˜ì—…ì´ìµë¥ 2  Relative Performance
0   19/6  12578  3991        3991  ...    2351   13.77  31.730                     S
1   19/9  13222  3825        3825  ...    2337   13.87  28.929                     A
2  19/12  11982  2523        2523  ...     873   12.42  21.057                     C
3   20/3  11784  3150        3150  ...    2134    9.71  26.731                     C
4   20/6  13188  3947        3947  ...    2135   10.46  29.929                     A

[5 rows x 27 columns]